@{
	var homeUrl = Href("~/");
}
<div class="credits">
	<span class="copyright">@T("Copyright © 2011. <a href=\"{0}\" target=\"_blank\">{1}</a>. All rights reserved."
		, homeUrl
		,  WorkContext.CurrentSite.SiteName
		)</span>
	<span class="poweredby">@T("Powered by <a href=\"{0}\" target=\"_blank\">Orchard</a> using <a href=\"{1}\" target=\"_blank\">The Other Side</a> theme."
		, "http://www.orchardproject.net"
		, "http://orchardproject.net/gallery/List/Themes/Orchard.Theme.TheOtherSide"
		, "Netko"
		) This is a <strong>CSS3</strong> theme, please use the appropriate browser.</span>
	<span class="footer-sig">@T("<a id=\"netko\" href=\"{0}\" rel=\"external\"><img src=\"{1}\" alt=\"{2}\"/></a>"
		, "http://www.netko.hr/"
		, "/Themes/TheOtherSide/Content/Images/netko-logo.png"
		, "Netko.hr"
	)</span>
</div>
