	<div class="share-this-bottom">
		<h5>Share this story:</h5>
		<span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_facebook_hcount' displayText='Facebook'></span>
		<span class='st_email_hcount' displayText='Email'></span>
	</div>
